<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/pure-min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    {% block add_stylesheet %}{% endblock %}<!--cssの追加用ブロック-->
    <title>{% block title %}SNS-デモ{% endblock %}</title>
  </head>
  <body>
    <div id="layout" class="page">
      {% block header %}
      <!-- ここにヘッダの内容 -->
      {% endblock %}
      <div id="main">
        <!-- end of .header -->

        <div class="contents">
          {% block contents %}
          <!-- ここにメインコンテンツ -->
          {% endblock %}
        </div>
        <!-- end of .contents -->

        {% block footer %}
        
        {% endblock %}
      </div>
      <!-- end of #main -->
    </div>
    <!-- end of #layout -->

    {% block footer_script %}{% endblock %}
  </body>
</html>
