<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Flask Login{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="./logout">Logout</a></li>
            {% else %}
                <li><a href="./login">Login</a></li>
                <li><a href="./register">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>