.login-container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin: 0 auto;
}
.login-container h2{
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}
.login-container input[type="text"],
.login-container input[type="password"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.login-container button{
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.login-container button:hover{
  background-color: #45a049;
}

.register-link{
  text-align: center;
  margin-top: 15px;
}

.register-link a{
  color: #4caf50;
  text-decoration: none;
}

.register-link a:hover{
  text-decoration: underline;
}

.login-link a:hover {
  text-decoration: underline;
}

#loginform {
    padding: 4px 8px 4px 8px;
}

.boxes_loginpage {
    display: flex;
    gap: 20px; /* 子要素間の間隔を20pxに設定 */
    justify-content: center; /* 子要素間の空白を均等に設定 */
    max-width: 800px; /* 最大幅を設定して中央ぞろえ */
    margin: 0 auto; /* 左右の余白を自動で均等に設定して中央に配置 */
  }
  .boxes_loginpage > .logo,
  .boxes_loginpage > .login-container {
    margin: 0; /* 個別のマージンをリセット */
  }
  
  .logo_loginpage{
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
  }
  
  .logo_loginpage h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
  }

