#main {
    max-width: 800px;
    margin: 0 auto; /* 左右中央揃え */
    overflow-y: hidden; /* スクロールを管理するために overflow-y を設定 */
    box-sizing: border-box; /* パディングとボーダーを含めたサイズ計算 */
    height: auto; /* JavaScriptで高さを設定するので初期は auto にしておく */

}

footer {
    position: fixed; /* 固定位置に配置 */
    bottom: 0; /* フッターを画面の下端に配置 */
    left: 0; /* フッターを画面の左端に配置 */
    right: 0; /* フッターを画面の右端に配置 */
    z-index: 1000; /* フッターを他のコンテンツの上に表示 */
    width: 100%; /* フッターの幅を画面全体に広げる */
    background: #191818; /* 背景色 */
}

.footer {
    text-align: center; /* フッターを中央揃えに設定 */
}
