#main {
    max-width: 800px;
    margin: 0 auto; /* 左右中央揃え */
    /*margin-top: 0; /* 初期値として設定 */
    padding-top: 0px;
    background: #fabf88;
    flex: 1;
}


footer {
    position: fixed; /* 固定位置に配置 */
    bottom: 0; /* フッターを画面の下端に配置 */
    left: 0; /* フッターを画面の左端に配置 */
    right: 0; /* フッターを画面の右端に配置 */
    z-index: 1000; /* フッターを他のコンテンツの上に表示 */
    width: 100%; /* フッターの幅を画面全体に広げる */
}

.footer {
    text-align: center; /* フッターを中央揃えに設定 */
}
