html, body {
  height: 100%;
  margin: 0;
  padding:0;
}

body {
  font-family: Arial, sans-serif; /* フォントをArialに設定 */
  display: flex;
  background-color: #f0f0f0; /* 背景色を淡いグレーに設定 */ 
  justify-content: center; /* 子要素を水平方向に中央揃え */
  align-items: center; /* 子要素を垂直方向に中央揃え */
  height: 100vh; /* ビューポートの高さを100%に設定 */
  box-sizing: border-box;
  margin: 0; /* ページ全体のマージンをゼロに設定 */
}

#layout {
  margin: 0; /* レイアウトの外側マージンをゼロに設定 */
  padding: 0; /* レイアウトの内側パディングをゼロに設定 */
  height: 100%;
  width: 100%; /* レイアウトの幅を100%に設定 */
  box-sizing: border-box;
}

.page {
  margin: 0;
    padding: 0;
    width: 100%;
    max-width: none;
}

