body {font-family: Arial, TakaoGothic, "游ゴシック", sans-serif; font-weight: normal; color:#ffffff; background-color:#000000}
<!--
a:active {color:#ffff00}
a:visited {color:#ffffff}
-->
a:link {color:#ccffff}
a:visited {color:#ccffff}
a:hover {color:#fff000}
<!--
tt {font-family: Verdana, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif; font-weight: lighter;}
-->
tt {font-family: monospace, lucidatypewriter, sans-serif; font-weight: Lighter; background-color: #333333}
code {font-family: monospace, lucidatypewriter, sans-serif; font-weight: Bolder; background-color: #333333}
kbd {font-family: monospace, lucidatypewriter, sans-serif; font-weight: Bolder; background-color: #333333}
pre {font-family: monospace !important;}
span#command {font-family: monospace, lucidatypewriter, sans-serif; font-weight: Lighter; color: #333333}
p {margin-top: 0em; font-family: Arial, TakaoGothic, "游ゴシック", sans-serif; font-weight: normal;}
p.big {margin-top: 4em; font-family: "Times New Roman", serif; font-weight: normal;}
ul {margin-top: 0em; font-family: Arial, TakaoGothic, "游ゴシック", sans-serif; font-weight: normal;}
/***text-indentを使うとプログラム素片や箇条書まで変わってしまう***/
p:before {content: "　"}
h1 {color:#ffffff; background-color:#444444; font-family: "Times New Roman", "游明朝", serif; font-weight: normal}
h2 {color:#ffffff; background-color:#555555; font-family: "Times New Roman", "游明朝", serif; font-weight: normal}
h3 {color:#ffffff; background-color:#333333; font-family: "Times New Roman", "游明朝", serif; font-weight: normal}
h4 {color:#ffffff; background-color:#222222; font-family: "Times New Roman", "游明朝", serif; font-weight: normal}
strong {color:#00ff00;}
table.command {font-family: monospace, lucidatypewriter, san-serif; font-weight: normal; background-color: #333333}
table.badinput {font-family: monospace, lucidatypewriter, san-serif; background-color: #665555}
table.strong {font-family: monospace, lucidatypewriter, san-serif; background-color: #556666}
table.figure {font-family: monospace, lucidatypewriter, san-serif; background-color: #555566}
dl.sample2 {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #c3e1ff), color-stop(1.00, #ddeeff));
    background: -webkit-linear-gradient(#c3e1ff, #ddeeff);
    background: -moz-linear-gradient(#c3e1ff, #ddeeff);
    background: -o-linear-gradient(#c3e1ff, #ddeeff);
    background: -ms-linear-gradient(#c3e1ff, #ddeeff);
    background: linear-gradient(#c3e1ff, #ddeeff);
    border-radius:10px;
    box-shadow:0px 0px 5px 1px #ddeeff;
}
dl.sample2 dt {
    margin-left:5px;
    padding:5px;
    background-color:#333333;
}
dl.sample2 dd {
    margin-left:5px;
    padding:5px;
    background-color:#111111;
}
