{% extends "layout_login.html" %}

{% block title %}
    カテゴリ: {{ category_name }}の投稿
{% endblock %}

{% block contents %}
<h3>{{ category_name }}の投稿</h3>

    {% if posts | length == 0 %}
        <div style="text-align: center;">
            このカテゴリに投稿はありません。
        </div>
    {% else %}
    <div id="TimeLine">
        <div class="post-list">
            {% for post in posts %}
                <div class="post">
                    {{ post.content | linebreaks }}
                    <p>カテゴリ: {{ post.category }}</p>
                    {% if post.image_path %}
                        <br><img src="{{ url_for('static', filename='uploads/' ~ post.image_path) }}" alt="Image">
                    {% endif %}
                    <p class="info">
                        {{ post.timestamp | datestr }}
                        作: <a href="/users/{{ post.user_id }}">{{ post.username }}</a>
                    </p>
                    <form action="/toggle_like/{{ post.id }}" method="post" style="display:inline;">
                        {% if post.liked_by_me %}
                            <button type="submit">いいねを取り消す</button>
                        {% else %}
                            <button type="submit">いいね</button>
                        {% endif %}
                    </form>
                    <span>{{ post.like_count }} いいね</span>
                    <!-- 削除ボタンの追加 -->
                    {% if post.user_id == user_id %}
                        <form action="/delete_post/{{ post.id }}" method="post" style="display:inline;">
                            <button type="submit" onclick="return confirm('本当にこの投稿を削除しますか？')">削除</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

{% endblock %}
