{% extends "layout_login.html" %}

{% block contents %}



{# お気に入り登録しているユーザーの一覧を表示 #}
<div class="box_index pure-menu-horizontal pure-menu-scrollable">
  お気に入りのトレーニー:
  {% for u in fav_users %}
    <a class="pure-button" href="/users/{{ u.user_id }}">{{ u.username }}</a>
  {% endfor %}
</div>

{# 全てのユーザーの一覧を表示 #}
<div class="box_index pure-menu-horizontal pure-menu-scrollable">
  すべてのトレーニー:
  {% for u in users %}
    <a class="pure-button" href="/users/{{ u.user_id }}">{{ u.username }}</a>
  {% endfor %}
</div>

{# タイムラインを表示 #}
<h3>{{ username }}のタイムライン</h3>
<div class="post-list">
{% if timelines | length == 0 %}
  <div class="box_index">タイムラインに作品がありません。投稿するか他のユーザーをお気に入りにしてください。</div>
{% else %}
  {% for i in timelines %}
    <div class="post">
      {{ i.content | linebreaks }}
      <p>カテゴリ: {{ i.category }}</p>
      {% if i.image_path %}
        <br><img src="{{ url_for('static', filename='uploads/' ~ i.image_path) }}" alt="Image">
      {% endif %}
      <p class="info">
        {{ i.timestamp | datestr }}
        作: <a href="/users/{{ i.user_id }}">{{ i.username }}</a>
      </p>
      <form action="/toggle_like/{{ i.id }}" method="post" style="display:inline;">
        {% if i.liked_by_me %}
        <button type="submit">いいねを取り消す</button>
        {% else %}
        <button type="submit">いいね</button>
        {% endif %}
      </form>
      <span>{{ i.like_count }} いいね</span>
      <!-- 削除ボタンの追加 -->
      {% if i.user_id == user_id %}
        <form action="/delete_post/{{ i.id }}" method="post" style="display:inline;">
          <button type="submit" onclick="return confirm('本当にこの投稿を削除しますか？')">削除</button>
        </form>
      {% endif %}
    </div>
  {% endfor %}
{% endif %}
</div>

{% endblock %}
