{% extends "layout_login.html" %}

{% block title %}
  {{ user_info['username'] }}さんの筋トレページ
{% endblock %}

{% block contents %}
<style>
  .post-list{
    max-height: 400px; /*#高さを設定*/
    overflow-y: auto;
  }
  .post img {
    max-width: 100%; /* 画像の最大幅をコンテナ幅に合わせる */
  max-height: 300px; /* 画像の最大高さを300pxに制限 */
  width: auto; /* 横幅は自動調整 */
  height: auto; /* 高さも自動調整 */
  display: block; /* ブロック要素として扱う（他の要素と衝突しない） */
  margin: 0 auto; /* 画像を中央に配置 */
  object-fit: cover; /* 画像がコンテナにフィットするようにする */
  overflow: hidden; /* コンテナからはみ出た部分を隠す */
  }
</style>

<div style="text-align: center;">
{{ user_info['username'] }}さんの筋トレページ
</div>

{% if user_info['id'] != current_user_id %}
<div class="box_userpage">
  {% if is_fav %}
  <form action="/remove_fav/{{ user_info['id'] }}" method="POST">
    <button type="submit" class="pure-button">お気に入り解除</button>
  </form>
  {% else %}
    <form action="/add_fav/{{ user_info['id'] }}" method="POST">
    <button type="submit" class="pure-button">お気に入り追加</button>
  </form>
  {% endif %}
</div>
{% endif %}

<h3>投稿</h3>

{% if posts | length == 0 %}
  <div style="text-align: center;">
  投稿はまだありません。
  </div>
{% else %}
  <div class="post-list">
    {% for post in posts %}
      <div class="post">
        {{ post.content | linebreaks }}
        <p>カテゴリ: {{ post.category }}</p>
        {% if post.image_path %}
        <br><img src="{{ url_for('static', filename='uploads/' ~ post.image_path) }}" alt="Image">
        {% endif %}
        <p class="info">{{ post.timestamp | datestr }}</p>
        <form action="/toggle_like/{{ post.id }}" method="post" style="display:inline;">
          {% if post.liked_by_me %}
          <button type="submit">いいねを取り消す</button>
          {% else %}
          <button type="submit">いいね</button>
          {% endif %}
        </form>
        <span>{{ post.like_count }} いいね</span>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% endblock %}
