{% extends "layout_login.html" %}
{% block contents %}
  <h3>投稿</h3>
  <div class="post-list">
    <form action="/write/try" method="POST" enctype="multipart/form-data" class="pure-form">
      <textarea name="text" rows="4"></textarea>
      <br><br>
      <label for="category">カテゴリを選択:</label>
      <select id="category" name="category">
          <option value="足トレ">足トレ</option>
          <option value="腕トレ">腕トレ</option>
          <option value="有酸素">有酸素</option>
          <!-- 他のカテゴリを追加 -->
      </select>
      <br><br>
      <input type="file" name="image">
      <br><br>
      <button type="submit" class="pure-button pure-button-primary">投稿</button>
    </form>
  </div>
  <br><br><br>
{% endblock %}


